.container {
  width: 100%;
  height: 100vh;
  position: relative;

  // background-color: black;
  &-body {
    height: 75%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    padding: 20px;

    box-sizing: border-box;
  }

  &-imagebox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-item {
      width: 100%;
      height: 100%;
    }


  }

  .horizational_layout {
    flex-direction: column;
  }

  .vertical_layout {
    flex-direction: row;
  }

  &-header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.5rem;
    height: 5%;
    box-sizing: border-box;

    .back {
      width: 2rem;
      object-fit: cover;
    }

    .screenshot {
      background-color: #EB4E89;
      color: #fff;
      padding: 0.2rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      border-radius: 1rem;
    }

  }
}