.resizable-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  touch-action: 'none'; // 禁止默认触摸行为
  box-sizing: border-box;
}

.resizable-container__focus {
  border: 2px solid #EB4E89;
}

.resizable-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.resizable-handle {
  position: absolute;
  background: #EB4E89;
  cursor: se-resize;
  z-index: 999;
}

.top {
  width: 40px;
  height: 5px;
  top: 0;
  left: 50%;
  margin-left: -20px;
}

.left {
  width: 5px;
  height: 40px;
  top: 50%;
  left: 0;
}

.right {
  width: 5px;
  height: 40px;
  right: 0;
  top: 50%;
}

.bottom {
  width: 40px;
  height: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

.resizable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: se-resize;
  z-index: 999;
}